#docs-page {
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
}

#docs-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: small;
    padding-bottom: 8px;
    text-align: center;
    color: #888;
}

#sidebar {
    background-color: lavender;
}

#tree-search {
    margin-bottom: 10px;
}
